:root {
  --dark_brown: #2c1d00;
  --lightest: rgb(237, 224, 195);
  --darkest: #3c1518;
  --second_darkest: #a8663a;
  --second_lightest: #edd3c8;
  --light_grey: #ffe1da;

}

*{
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.all {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(213, 137, 54, 0.73), rgba(213, 137, 54, 0.73)),
  url('images/children_playing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header2{
  min-height: 460vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0% 1%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightest);
}

nav img {
  width: 120px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 60px;
  position: relative;
}

.nav-links ul li a {
  color: var(--darkest);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.text-box {
  width: 90%;
  color: var(--darkest);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}

.text-box p {
  margin: 10px 0px 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--darkest);
}

.information {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.row {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

.testimonials {
  width: 100%;
  height: 90vh;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  background-color: var(--lightest);
}

.testimonials-col {
  flex-basis: 31%;
  padding: 0px 30px;
  box-sizing: border-box;
  /*border-style: outset;
  border-color: rgb(199, 161, 133);*/
}

.testimonials-col p {
  font-style: italic;
  line-height: 2;
  font-weight: 700;
  color: var(--darkest);
}

.testimonials h1 {
  font-weight: 700;
  font-size: 30px;
  color: var(--darkest);
}

.testimonials-col h3 {
  padding: 30px 30px;
  font-style: italic;
  text-align: right;
  color: var(--darkest);
}

.row2 {
  margin: 4%;
  display: flex;
  justify-content: space-around;
}

.services {
  width: 100%;
  height: 150vh;
  text-align: center;
  padding-top: 70px;
}

.service-col {
  flex-basis: 48%;
  width: 60vh;
  padding: 40px;
  box-sizing: border-box;
  background-color: var(--second_lightest);
  /*border-style: outset;
  border-color: rgb(199, 161, 133);*/
}

.services h1 {
  color: var(--darkest);
  font-size: 30px;
  margin-bottom: 60px;
}

.service-col h3 {
  color: var(--darkest);
  padding: 0px 20px 20px 20px;
}

.service-col p {
  color: var(--darkest);
  line-height: 2;
  font-weight: 700;
}

.form-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form {
  background: var(--lightest);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
}

form h3 {
  font-weight: 900;
  margin-bottom: 20px;
  color: var(--darkest);
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: white;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: var(--second_darkest);
  color: var(--darkest);
  font-size: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.footer {
  padding-top: 10px;
  background-color: var(--lightest);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer h4 {
  margin-bottom: 10px;
  font-weight: 900;
  color: var(--darkest);
}

.footer p {
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--darkest);
}

.icons i{
  padding: 0px 5px;
  width: 20px;
  height: 20px;
}

.team_container {
  margin: 20px 40px;
}

.row1, .row2, .row3{
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.heading {
  font-size: 60px;
  color: var(--darkest);
}

.profile {
  flex-basis: 48%;
  margin: 20px;
}

.profile .profile_img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: 400ms;
}

.profile:hover .profile_img {
  filter: grayscale(0%);
}

.username {
  color: var(--darkest);
  margin-top: 30px;
  font-size: 35px;
}

.profile p {
  font-size: 16px;
  font-weight: 600;
  color: var(--darkest);
  margin-top: 20px;
}

.supervisor p {
  font-size: 16px;
  font-weight: 600;
  color: var(--darkest);
  margin-top: 20px;
}

.supervisor {
  margin: 20px;
  padding: 0px 300px 30px 300px;
}

.supervisor .supervisor_img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: 400ms;
}

.supervisor:hover .supervisor_img {
  filter: grayscale(0%);
}

.heading2 {
  font-size: 40px;
  color: var(--darkest);
}

/*@media (max-width: 700px) {

  ADD CODE FOR DIFFERENT SIZES LATER

}*/

